In [2]:
import sqlite3

In [3]:
conn = sqlite3.connect("C:/Users/Home PC/sqlite/country-club.db")

In [4]:
cursor = conn.cursor()

In [6]:
result = cursor.execute("select * from Facilities ;  ").fetchmany(5)

In [7]:
print (result)

[(0, 'Tennis Court 1', 5, 25, 10000, 200), (1, 'Tennis Court 2', 5, 25, 8000, 200), (2, 'Badminton Court', 0, 15.5, 4000, 50), (3, 'Table Tennis', 0, 5, 320, 10), (4, 'Massage Room 1', 9.9, 80, 4000, 3000)]

In [16]:
# # assignment questions 
# Produce a list of facilities with a total revenue less than 1000.# The output of facility name and total revenue, 
#sorted by revenue. Remember # that there's a different cost for guests and members! */

queryset1 = "select name ,initialoutlay from Facilities where initialoutlay < 1000  order by initialoutlay;"

resultset1 = cursor.execute(queryset1) 
print (resultset1.fetchall())

[('Table Tennis', 320), ('Pool Table', 400), ('Snooker Table', 450)]

In [13]:
#     /* Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order */

queryset2 = " SELECT  m1.firstname || ' ' || m1.surname AS NAME ,m2.firstname || ' ' || m2.surname as recommender from Members m1 inner join Members m2 on m1.recommendedby = m2.memid where m1.recommendedby is not null order by Name asc;"

resultset2 = cursor.execute(queryset2) 
print (resultset2.fetchall())

[('Anna Mackenzie', 'Darren Smith'), ('Anne Baker', 'Ponder Stibbons'), ('Charles Owen', 'Darren Smith'), ('David Jones', 'Janice Joplette'), ('David Pinker', 'Jemima Farrell'), ('Douglas Jones', 'David Jones'), ('Erica Crumpet', 'Tracy Smith'), ('Florence Bader', 'Ponder Stibbons'), ('Gerald Butters', 'Darren Smith'), ('Henrietta Rumney', 'Matthew Genting'), ('Henry Worthington-Smyth', 'Tracy Smith'), ('Jack Smith', 'Darren Smith'), ('Janice Joplette', 'Darren Smith'), ('Joan Coplin', 'Timothy Baker'), ('John Hunt', 'Millicent Purview'), ('Matthew Genting', 'Gerald Butters'), ('Millicent Purview', 'Tracy Smith'), ('Nancy Dare', 'Janice Joplette'), ('Ponder Stibbons', 'Burton Tracy'), ('Ramnaresh Sarwin', 'Florence Bader'), ('Tim Boothe', 'Tim Rownam'), ('Timothy Baker', 'Jemima Farrell')]

In [14]:
#     /* Q12: Find the facilities with their usage by member, but not guests */ 

queryset3 = "SELECT distinct NAME from Facilities f inner join Bookings b on b.facid = f.facid where b.memid <> 0"
resultset3 = cursor.execute(queryset3) 
print (resultset3.fetchall())

[('Table Tennis',), ('Massage Room 1',), ('Snooker Table',), ('Pool Table',), ('Tennis Court 1',), ('Squash Court',), ('Badminton Court',), ('Tennis Court 2',), ('Massage Room 2',)]

In [17]:
#     /* Q13: Find the facilities usage by month, but not guests */

queryset4 = "SELECT count(b.facid) as times_per_month,substr(b.starttime,6,2) as month,f.name  FROM Bookings b inner join Facilities f on b.facid = f.facid GROUP BY month ,f.name"
resultset4 = cursor.execute(queryset4)
print (resultset4.fetchall())

[(56, '07', 'Badminton Court'), (123, '07', 'Massage Room 1'), (12, '07', 'Massage Room 2'), (110, '07', 'Pool Table'), (75, '07', 'Snooker Table'), (75, '07', 'Squash Court'), (51, '07', 'Table Tennis'), (88, '07', 'Tennis Court 1'), (68, '07', 'Tennis Court 2'), (146, '08', 'Badminton Court'), (224, '08', 'Massage Room 1'), (40, '08', 'Massage Room 2'), (291, '08', 'Pool Table'), (159, '08', 'Snooker Table'), (170, '08', 'Squash Court'), (147, '08', 'Table Tennis'), (146, '08', 'Tennis Court 1'), (149, '08', 'Tennis Court 2'), (181, '09', 'Badminton Court'), (282, '09', 'Massage Room 1'), (59, '09', 'Massage Room 2'), (435, '09', 'Pool Table'), (210, '09', 'Snooker Table'), (195, '09', 'Squash Court'), (205, '09', 'Table Tennis'), (174, '09', 'Tennis Court 1'), (172, '09', 'Tennis Court 2')]