In [1]:
import pandas as pd

In [3]:
df1 = pd.read_csv("takehome_user_engagement.csv")

In [4]:
df1.head()

            time_stamp  user_id  visited
0  2014-04-22 03:53:30        1        1
1  2013-11-15 03:45:04        2        1
2  2013-11-29 03:45:04        2        1
3  2013-12-09 03:45:04        2        1
4  2013-12-25 03:45:04        2        1

In [21]:
df2=pd.read_csv("takehome_users.csv",encoding='cp1252')

In [22]:
df2.head()

,object_id,creation_time,name,email,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0

In [23]:
df2.rename(columns={"opted_in_to_mailing_list":"mailing_list","enabled_for_marketing_drip":"marketing","invited_by_user_id":"user_id","last_session_creation_time":"last_creation_time"},inplace=True)

In [24]:
df2.head()

,object_id,creation_time,name,email,creation_source,last_creation_time,mailing_list,marketing,org_id,user_id
0,1,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,1.398139e+09,1,0,11,10803.0
1,2,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1.396238e+09,0,0,1,316.0
2,3,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,1.363735e+09,0,0,94,1525.0
3,4,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1.369210e+09,0,0,1,5151.0
4,5,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,1.358850e+09,0,0,193,5240.0

In [25]:
df2 = df2.drop(["object_id","mailing_list","marketing","last_creation_time"],axis=1)

In [26]:
df2.head()

,creation_time,name,email,creation_source,org_id,user_id
0,2014-04-22 03:53:30,Clausen August,AugustCClausen@yahoo.com,GUEST_INVITE,11,10803.0
1,2013-11-15 03:45:04,Poole Matthew,MatthewPoole@gustr.com,ORG_INVITE,1,316.0
2,2013-03-19 23:14:52,Bottrill Mitchell,MitchellBottrill@gustr.com,ORG_INVITE,94,1525.0
3,2013-05-21 08:09:28,Clausen Nicklas,NicklasSClausen@yahoo.com,GUEST_INVITE,1,5151.0
4,2013-01-17 10:14:20,Raw Grace,GraceRaw@yahoo.com,GUEST_INVITE,193,5240.0

In [34]:
Join_ds = df2.join(df1.set_index('user_id'),on='user_id',how="inner",sort="True")

In [35]:
Join_ds.head()

,creation_time,name,email,creation_source,org_id,user_id,time_stamp,visited
1663,2013-09-19 18:28:10,Vogt Yvonne,YvonneVogt@hotmail.com,ORG_INVITE,94,3,2013-03-19 23:14:52,1
3797,2013-06-22 01:58:24,Azevedo Eduardo,emygkiip@bjtqb.com,GUEST_INVITE,37,7,2012-12-20 13:24:32,1
7897,2013-12-16 04:15:12,Thomas Mitzi,odzovogp@eznoh.com,ORG_INVITE,37,7,2012-12-20 13:24:32,1
8682,2014-02-26 14:42:34,Yabsley Cooper,CooperYabsley@gmail.com,ORG_INVITE,37,7,2012-12-20 13:24:32,1
10344,2013-09-12 09:14:35,Oster Andrea,AndreaOster@gmail.com,ORG_INVITE,37,7,2012-12-20 13:24:32,1

In [42]:
Join_ds['creation_time'] = pd.to_datetime(Join_ds['creation_time'])

In [48]:
Join_ds['date'] = Join_ds['creation_time'].dt.date

In [49]:
Join_ds['time'] = Join_ds['creation_time'].dt.time

In [50]:
Join_ds.head()

,creation_time,name,email,creation_source,org_id,user_id,time_stamp,visited,date,time
1663,2013-09-19 18:28:10,Vogt Yvonne,YvonneVogt@hotmail.com,ORG_INVITE,94,3,2013-03-19 23:14:52,1,2013-09-19,18:28:10
3797,2013-06-22 01:58:24,Azevedo Eduardo,emygkiip@bjtqb.com,GUEST_INVITE,37,7,2012-12-20 13:24:32,1,2013-06-22,01:58:24
7897,2013-12-16 04:15:12,Thomas Mitzi,odzovogp@eznoh.com,ORG_INVITE,37,7,2012-12-20 13:24:32,1,2013-12-16,04:15:12
8682,2014-02-26 14:42:34,Yabsley Cooper,CooperYabsley@gmail.com,ORG_INVITE,37,7,2012-12-20 13:24:32,1,2014-02-26,14:42:34
10344,2013-09-12 09:14:35,Oster Andrea,AndreaOster@gmail.com,ORG_INVITE,37,7,2012-12-20 13:24:32,1,2013-09-12,09:14:35

In [95]:
start_date = '2013-03-19'
start_date = pd.to_datetime(start_date)

In [96]:
end_date = '2013-03-26'
end_date = pd.to_datetime(end_date)

In [97]:
Join_ds['date'] = pd.to_datetime(Join_ds['date'])

In [98]:
ds1 = Join_ds[(Join_ds['date'] >= start_date) & (Join_ds['date']<= end_date)]

In [99]:
ds1['creation_source'].value_counts()

ORG_INVITE      1657
GUEST_INVITE     631
Name: creation_source, dtype: int64

In [100]:
start_date = '2013-03-26'
start_date = pd.to_datetime(start_date)

In [101]:
end_date = '2013-04-02'
end_date = pd.to_datetime(end_date)

In [102]:
Join_ds['date'] = pd.to_datetime(Join_ds['date'])

In [103]:
ds2 = Join_ds[(Join_ds['date'] >= start_date) & (Join_ds['date']<= end_date)]

In [104]:
ds2['creation_source'].value_counts()

ORG_INVITE      1627
GUEST_INVITE     369
Name: creation_source, dtype: int64

Explaination: Creation source columns looks like the major factors predict future user
adoption .